body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-quicksand: Quicksand;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #404040;
  --color-dimgray: #71717a;

  /* border radiuses */
  --br-76xl: 95px;
  --br-xs: 12px;
}
