.chat-bar-icon,
.userbar-line {
  position: absolute;
  top: 992px;
  left: 389px;
  width: 1051px;
  height: 82px;
}
.userbar-line {
  top: 0;
  left: 0;
  background-color: rgba(245, 225, 162, 0.65);
  width: 1047px;
  height: 90px;
}
.call-icon,
.camera-icon,
.infor-icon {
  position: absolute;
  top: 30px;
  left: 889px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.call-icon,
.camera-icon {
  top: 31px;
  left: 782px;
}
.call-icon {
  left: 675px;
}
.howde,
.howde-logo-icon {
  position: absolute;
  top: 30px;
  left: 114px;
}
.howde-logo-icon {
  top: 23px;
  left: 38px;
  border-radius: var(--br-76xl);
  width: 50px;
  height: 51px;
  object-fit: cover;
}
.user-bar {
  position: absolute;
  top: 80px;
  left: 393px;
  width: 1047px;
  height: 90px;
}
.search-line,
.sidebar-line {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 393px;
  height: 994px;
}
.search-line {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 315.64px;
  height: 44.9px;
}
.search-icon {
  position: absolute;
  height: 55.67%;
  width: 8.24%;
  top: 24.35%;
  right: 6.54%;
  bottom: 19.97%;
  left: 85.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.friends-line,
.search {
  position: absolute;
  top: 32.06px;
  left: 38px;
  width: 315.64px;
  height: 44.9px;
}
.friends-line {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 318.73px;
  height: 48.99px;
}
.friends {
  position: absolute;
  top: 14.65px;
  left: 143.22px;
  display: inline-block;
  width: 58px;
  height: 20.04px;
}
.friends-logo-icon {
  position: absolute;
  height: 34.77%;
  width: 9.1%;
  top: 27.87%;
  right: 78.28%;
  bottom: 37.36%;
  left: 12.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.friends-button,
.mentor {
  position: absolute;
  top: 352.08px;
  left: 41.78px;
  width: 318.73px;
  height: 48.99px;
}
.mentor {
  top: 13.98px;
  left: 144.22px;
  display: inline-block;
  width: 57px;
  height: 21.04px;
}
.mentor-logo-icon {
  position: absolute;
  height: 40.91%;
  width: 5.65%;
  top: 24.45%;
  right: 82.05%;
  bottom: 34.64%;
  left: 12.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chatbot-line,
.mentor-button {
  position: absolute;
  top: 278.61px;
  left: 41.78px;
  width: 318.73px;
  height: 48.99px;
}
.chatbot-line {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  height: 46.94px;
}
.chatbot-line:hover {
  background-color: #75C2F6;
}
.mentor-line:hover {
  background-color: #75C2F6;
}
.friends-line:hover {
  background-color: #75C2F6;
}

.chat-bot {
  position: absolute;
  top: 13.28px;
  left: 138.22px;
  display: inline-block;
  width: 69px;
  height: 20.04px;
}
.howde-logo-icon1 {
  position: absolute;
  top: 5.26px;
  left: 29.22px;
  border-radius: 50%;
  width: 40px;
  height: 35.07px;
  object-fit: cover;
}
.chatbot-button,
.side-bar {
  position: absolute;
  top: 207.17px;
  left: 41.78px;
  width: 318.73px;
  height: 46.94px;
}
.side-bar {
  top: 80px;
  left: 0;
  width: 393px;
  height: 994px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.navigation-line {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4d160;
  width: 1440px;
  height: 80px;
}
.avatar,
.bell-icon {
  position: absolute;
  width: 50px;
}

.avatar {
  top: 14px;
  left: 1274px;
  border-radius: 50%;
  background-color: #d9d9d9;
  height: 50px;
}
.bell-icon {
  top: 19px;
  left: 1167px;
  height: 40px;
  object-fit: cover;
}
.chat,
.diary,
.friends1,
.home {
  position: absolute;
  top: 23px;
  left: 389px;
  display: inline-block;
  width: 73px;
}

.home:hover{
  background-color: #F5E1A2;
}
.chat:hover{
  background-color: #F5E1A2;
}
.friends1:hover{
  background-color: #F5E1A2;
}
.diary:hover{
  background-color: #F5E1A2;
}





.chat,
.diary,
.friends1 {
  left: 556px;
  width: 61px;
}
.diary,
.friends1 {
  left: 704px;
  width: 70px;
}
.friends1 {
  left: 861px;
  width: 89px;
}
.howde-logo-icon2 {
  position: absolute;
  top: 14px;
  left: 53px;
  border-radius: var(--br-76xl);
  width: 50px;
  height: 51px;
  object-fit: cover;
}
.howde1 {
  position: absolute;
  top: 17px;
  left: 129px;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
}
.navigate {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 80px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray);
}
.chat-interface {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1074px;
  overflow: hidden;
  text-align: left;
  font-size: 30px;
  color: #025a80;
  font-family: var(--font-quicksand);
}
